{% extends "layout.html" %} {%block content%}
<h1 class="text-center heading">
      Career Path Recommendation using<br />
      Machine Learning
</h1>
<h2 class="mb-3">Top Recommendation:</h2>
<div class="container">
      <div class="row mb-3">
            <div class="card" style="max-width: 100%;">
                  <div class="row">
                        <div class="col-lg-4">
                              <img src="https://images.unsplash.com/photo-1528901166007-3784c7dd3653?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
                                    class="img-fluid">

                        </div>
                        <div class="col-lg-4 col-md-6 centering">
                              <h3>Cybersecurity</h3>
                              <h4>Technology being used</h4>
                              <ul>
                                    <li> Hacking</li>
                                    <li> Cloud Security</li>
                                    <li>Blockchain Security</li>
                                    <li>java, PHP, C, C++,</li>
                                    <li>Computer Forensics Skills</li>
                              </ul>
                        </div>
                        <div class="col-lg-4 col-md-6 centering">
                              <h1>percentage:</h1>
                              <h3>80%</h3>
                        </div>


                  </div>
            </div>
      </div>
      <div class="row mb-3">
            <div class="card" style="max-width: 100%;">
                  <div class="row">
                        <div class="col-lg-4">
                              <img src="https://images.unsplash.com/photo-1528901166007-3784c7dd3653?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
                                    class="img-fluid">

                        </div>
                        <div class="col-lg-4 col-md-6 centering">
                              <h3>Cybersecurity</h3>
                              <h4>Technology being used</h4>
                              <ul>
                                    <li> Hacking</li>
                                    <li> Cloud Security</li>
                                    <li>Blockchain Security</li>
                                    <li>java, PHP, C, C++,</li>
                                    <li>Computer Forensics Skills</li>
                              </ul>
                        </div>
                        <div class="col-lg-4 col-md-6 centering">
                              <h1>percentage:</h1>
                              <h3>80%</h3>
                        </div>


                  </div>
            </div>
      </div>
      <div class="row mb-3">
            <div class="card" style="max-width: 100%;">
                  <div class="row">
                        <div class="col-lg-4">
                              <img src="https://images.unsplash.com/photo-1528901166007-3784c7dd3653?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
                                    class="img-fluid">

                        </div>
                        <div class="col-lg-4 col-md-6 centering">
                              <h3>Cybersecurity</h3>
                              <h4>Technology being used</h4>
                              <ul>
                                    <li> Hacking</li>
                                    <li> Cloud Security</li>
                                    <li>Blockchain Security</li>
                                    <li>java, PHP, C, C++,</li>
                                    <li>Computer Forensics Skills</li>
                              </ul>
                        </div>
                        <div class="col-lg-4 col-md-6 centering">
                              <h1>percentage:</h1>
                              <h3>80%</h3>
                        </div>


                  </div>
            </div>
      </div>
</div>
<h2 class="mb-3">Top suggestion:</h2>
<div class="container">
      <div class="row mb-3">
            <div class="card" style="max-width: 100%;">
                  <div class="row">
                        <div class="col-lg-4">
                              <img src="https://images.unsplash.com/photo-1528901166007-3784c7dd3653?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
                                    class="img-fluid">

                        </div>
                        <div class="col-lg-4 col-md-6 centering">
                              <h3>Cybersecurity</h3>
                              <h4>Technology being used</h4>
                              <ul>
                                    <li> Hacking</li>
                                    <li> Cloud Security</li>
                                    <li>Blockchain Security</li>
                                    <li>java, PHP, C, C++,</li>
                                    <li>Computer Forensics Skills</li>
                              </ul>
                        </div>
                        <div class="col-lg-4 col-md-6 centering">
                              <h1>percentage:</h1>
                              <h3>80%</h3>
                        </div>


                  </div>
            </div>
      </div>
      <div class="row mb-3">
            <div class="card" style="max-width: 100%;">
                  <div class="row">
                        <div class="col-lg-4">
                              <img src="https://images.unsplash.com/photo-1528901166007-3784c7dd3653?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
                                    class="img-fluid">

                        </div>
                        <div class="col-lg-4 col-md-6 centering">
                              <h3>Cybersecurity</h3>
                              <h4>Technology being used</h4>
                              <ul>
                                    <li> Hacking</li>
                                    <li> Cloud Security</li>
                                    <li>Blockchain Security</li>
                                    <li>java, PHP, C, C++,</li>
                                    <li>Computer Forensics Skills</li>
                              </ul>
                        </div>
                        <div class="col-lg-4 col-md-6 centering">
                              <h1>percentage:</h1>
                              <h3>80%</h3>
                        </div>


                  </div>
            </div>
      </div>
      <div class="row mb-3">
            <div class="card" style="max-width: 100%;">
                  <div class="row">
                        <div class="col-lg-4">
                              <img src="https://images.unsplash.com/photo-1528901166007-3784c7dd3653?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
                                    class="img-fluid">

                        </div>
                        <div class="col-lg-4 col-md-6 centering">
                              <h3>Cybersecurity</h3>
                              <h4>Technology being used</h4>
                              <ul>
                                    <li> Hacking</li>
                                    <li> Cloud Security</li>
                                    <li>Blockchain Security</li>
                                    <li>java, PHP, C, C++,</li>
                                    <li>Computer Forensics Skills</li>
                              </ul>
                        </div>
                        <div class="col-lg-4 col-md-6 centering">
                              <h1>percentage:</h1>
                              <h3>80%</h3>
                        </div>


                  </div>
            </div>
      </div>
</div>


{%endblock content%}